<h1>Add Dept / Title</h1>

<%= form_for(@dept_title) do |f| %>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, id: :dept_title %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>